<div class="col-md-6">
<h2>Edit listing</h2>
<%= form_for @product do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title, :class => "form-control", :id => "text" %> <br>
	</p>
	<p>
		<%= f.label :body %><br>
		<%= f.text_area :body, :class => "form-control", :id => "textArea" %><br>
	</p>
	<p>
		<%= f.label :file %> <br>
		<%= f.attachment_field :product_image %>
		<%= submit_tag 'Upload & Submit', :class => 'btn btn-primary' %>
		<%= link_to "Cancel", root_path, :class => "btn btn-default" %>
	</p>
<% end %>
</div>
