<div class="jumbotron">
	<h1>Archetype</h1>
	<p>Explore the possibilities</p>
	<p><a class="btn btn-primary" href="">Learn more</a></p>
</div>

<div class="container grid" id="productIndex" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 350, "gutter": 20 }'>
	<% if !@products.nil? %> 
		<% if current_user.admin? %>
			<% # do admin stuff %>
			<table class="table table-striped table-hover" >
				<thead>
					<tr>
						<th>#</th>
						<th>Email</th>
						<th>Part name</th>
						<th>Status</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
				<% @products.each do |prod| %>
					<tr style="background-color: ">
						<td><%= prod.id %></td>
						<td><%= User.find(prod.user_id).email %></td>
						<td><%= link_to prod.threeD_model_file_name, product_path(prod) %></td>
						<td>
							<%= form_for prod do |f| %>
							<select class="form-control" id="select">
								<option>Uploaded</option>
								<option>Review</option>
								<option>Optimize</option>
								<option>Approve</option>
								<option>Paid</option>
								<option>Printing</option>
								<option>Printed</option>
								<option>Shipped</option>
							</select>
							<% end %>
						</td>
						<td><%= prod.price %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
				
		<% else %>
			<% @products.each do |prod| %>
				<div class="grid-item box panel panel-default" style="min-width: 250px;max-width: 30%;">
					<%= link_to prod.title, prod %>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>
