<div class="jumbotron">
	<h1>Archetype</h1>
	<p>Explore the possibilities</p>
	<p><a class="btn btn-primary pull-left" href="">Learn more</a>
	<%= button_to "Start printing now!", new_user_session_path, :class => "btn btn-success pull-right" %>
	</p>

</div>

<div class="container grid" id="productIndex" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 350, "gutter": 20 }'>
	<% if !@products.nil? %> 
		<% if current_user.admin? %>
			<% # do admin stuff %>
			<table class="table table-striped table-hover" >
				<thead>
					<tr>
						<th>#</th>
						<th>Email</th>
						<th>Part name</th>
						<th>Status</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
				<% @products.each do |prod| %>
					<tr style="background-color: ">
						<td><%= prod.id %></td>
						<td><%= User.find(prod.user_id).email %></td>
						<td><%= link_to prod.threeD_model_file_name, product_path(prod) %></td>
						<%= form_for(prod, remote: true, :authenticity_token => true) do |form| %>
						<td>
							<%= form.select(:status, options_for_select([["Uploaded","Uploaded"], ["Review","Reviewed"], ["Optimized","Optimized"], ["Approved","Approved"], ["Paid","Paid"], ["Printing","Printing"], ["Printed","Printed"], ["Shipped","Shipped"]], :selected => prod.status, :include_blank => false, :html => { :class => "form-control"} ), {}, { :class => "form-control", :onchange => "this.form.submit()" }) %>
						</td>
						<td>
							<% if prod[:status] > 2 and prod.price.nil? %>
								<%= form.number_field :price, :placeholder => "$", :class => "form-control" %>
							<% elsif prod.price.nil? %>
								Not set
							<% else %>
								<%= prod.price %>
							<% end %>
						</td>
						<% end %>
					</tr>
				<% end %>
				</tbody>
			</table>
				
		<% else %>
			<table class="table table-striped table-hover" >
				<thead>
					<tr>
						<th>Part name</th>
						<th>Status</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<% @products.each do |prod| %>
						<tr style="background-color: ">
							<td><%= link_to prod.threeD_model_file_name, product_path(prod) %></td>
							<td><%= prod.status %>
							</td>
							<td><%= prod.price %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
		<%= will_paginate @products, renderer: BootstrapPagination::Rails %>
	<% end %>
</div>
