<form class="form-horizontal">
	<fieldset>
		<div class="form-group">
<h2>New listing</h2>

<%= form_for :post, url: products_path do |f| %>
	<p>
	<%= f.label :title %><br>
	<%= f.text_field :title, :class => "form-control", :id => "text" %> <br>
	</p>
	<p>
	<%= f.label :body %><br>
	<%= f.text_area :body, :class => "form-control", :id => "textArea" %><br>
	</p>
	<%= f.submit "Submit", :class => "btn btn-primary" %>
	<%= link_to "Cancel", root_path, :class => "btn btn-default" %>
<% end %>
	</div>
</fieldset>
</form>
