<div class="col-lg-8 col-lg-offset-2">
	<h2> <%= @product.title %> </h2>
	<!--%= image_tag attachment_url(@product, :image_list), :style => "max-height: 100%; max-width: 100%;" %-->

	<p class="date">Submitted <%= time_ago_in_words(@product.created_at) %> ago</p> 

	<p class="body"><%= @product.body%></p>

	<div class="btn btn-primary pull-left" data-toggle="modal" data-target="#3Dview">View 3D</div>
	<% if user_signed_in? %>
		<% if current_user.id == @product.user_id %>
			<div class="btn btn-group pull-right">
				<%= link_to "Edit", edit_product_path, :class => "btn btn-default" %>
				<%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure?" }, :class => "btn btn-danger" %>
			</div>
		<% end %>
	<% end %>

	<div id="3Dview" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header"><%= @product.title %></div>
				<div class="modal-body">
					This some body
					<div>
						<canvas id="cv" style="border: 1px solid; width: 640px; height: 405px;"></canvas>
						<script type="text/javascript">
							var canvas = document.getElementById("cv");
							var viewer = new JSC3D.Viewer(canvas);
							viewer.setParameter('SceneUrl','<%= asset_path("clip.stl") %>');
							viewer.setParameter('InitRotationX',0);
							viewer.setParameter('InitRotationY',0);
							viewer.setParameter('InitRotationZ',45);
							viewer.setParameter('ModelColor','#FF00FF');
							viewer.setParameter('BackgroundColor1','#2C2C2C');
							viewer.setParameter('BackgroundColor2','#C2C2C2');
							viewer.setParameter('CreaseAngle',-180);
							viewer.setParameter('MipMapping','on');
							viewer.setParameter('ProgressBar','on');
							viewer.setParameter('frameWidth', 640);
							viewer.setParameter('frameHeight', 405);
							viewer.setParameter('Definition', 'high');
							viewer.setParameter('Renderer', 'webgl');
							viewer.init();
							viewer.update();
						</script>
					</div>
				</div>
				<div class="modal-footer">Click outside this window to close</div>
			</div>
		</div>
	</div>
</div>

